# ===========================
# General
# ===========================
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===========================
# Environment files
# ===========================
backend/.env
frontend/.env
backend/.env.local
frontend/.env.local
backend/.env.development.local
frontend/.env.development.local
backend/.env.test.local
frontend/.env.test.local
backend/.env.production.local
frontend/.env.production.local

# ===========================
# Node modules
# ===========================
backend/node_modules
frontend/node_modules

# ===========================
# Build / production folders
# ===========================
frontend/build
backend/dist
backend/build

# ===========================
# Testing
# ===========================
**/coverage
